  <!-- FOOTER -->
  <footer>
    <p>&copy; 2023 Note App. All rights reserved.</p>
</footer>

<!-- SCRIPTS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script >
    // Initialize Quill for the "Add a Note" form
    var quillAdd = new Quill('#editor-add', {
        theme: 'snow'
    });
    var contentAdd = document.getElementById('content-add');
    quillAdd.on('text-change', function() {
        contentAdd.value = quillAdd.root.innerHTML;
    });

    // Initialize Quill for the "Edit a Note" form
    var quillEdit = new Quill('#editor-edit', {
        theme: 'snow'
    });
    var contentEdit = document.getElementById('content-edit');
    quillEdit.on('text-change', function() {
        contentEdit.value = quillEdit.root.innerHTML;
    });

    //
    $("#add_note").submit(function(event){
  alert("Data Inserted Successfully!")
});
  
  
  
  // Toggle Theme, script.js
  document.addEventListener("DOMContentLoaded", function() {
    var icon = document.getElementById("icon");
  
    icon.addEventListener("click", function() {
      document.body.classList.toggle("dark-theme");
    });
  });

  //




   

</script>

</body>
</html>