  <!-- FOOTER -->
  <footer>
    <p>&copy; 2023 Andika App. All rights reserved.</p>
</footer>

<!-- SCRIPTS -->

<script >
   
    //
    $("#add_note").submit(function(event){
  alert("Data Inserted Successfully!")
});



  
  
  // Toggle Theme, script.js
  document.addEventListener("DOMContentLoaded", function() {
    var icon = document.getElementById("icon");
  
    icon.addEventListener("click", function() {
      document.body.classList.toggle("dark-theme");
    });
  });

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/38.0.1/classic/ckeditor.js"></script>
<script src="/js/script.js" ></script>


</body>
</html>