:root {
    --background-color: #f5f5f5;
    --header-background-color: #4285F4;
    --header-color: #fff;
    --main-background-color: #fff;
    --main-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --h2-color: #4285F4;
    --input-border-color: #ccc;
    --button-background-color: #4285F4;
    --button-color: #fff;
    --footer-background-color: #f5f5f5;
    --footer-color: #888;
  }

  .dark-theme {
    --background-color: #333;
    --header-background-color: #222;
    --header-color: #fff;
    --main-background-color: #817773;
    --main-box-shadow: 0 0 10px #faf4f41a;
    --h2-color: #4285F4;
    --input-border-color: #f7eeee;
    --button-background-color: #4285F4;
    --button-color: #fff;
    --footer-background-color: #222;
    --footer-color: #aaa;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
  }

  header {
    background-color: var(--header-background-color);
    color: var(--header-color);
    padding: 20px;
    text-align: center;
  }

  main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--main-background-color);
    box-shadow: var(--main-box-shadow);
  }

  form {
    margin-bottom: 20px;
  }

  h2 {
    margin-top: 0;
    font-size: 24px;
    color: var(--h2-color);
  }

  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    resize: vertical;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--button-background-color);
    color: var(--button-color);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.button-container a:last-child {
    margin-right: 0;
}

  .saved-notes-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .saved-notes-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .note-title {
    flex-grow: 1;
  }

  .note-actions {
    display: flex;
    gap: 10px;
  }

  .note-action {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--button-background-color);
    color: var(--button-color);
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
  }

  footer {
    background-color: var(--footer-background-color);
    color: var(--footer-color);
    text-align: center;
    padding: 10px;
  }