
<!--Include Header-->

<%-include('include/_header')%>

<!--/Include Header-->



  <!-- CONTENT -->
  <main>
    <h2>Add a Note</h2>
    <form action="/add" method="POST">
        <input type="text" name="title" placeholder="Title" required>
        <div id="editor-add" style="height: 200px;"></div>
        <input type="hidden" name="content" id="content-add" required>
        <button type="submit">Add Note</button>
    </form>
  </main>

    <!--Include footer-->

<%-include('include/_footer')%>

<!--/Include footer-->