<!--Include Header-->

<%-include('include/_header')%>

<!--/Include Header-->


   
    <!-- CONTENT -->
    <main>
        <a href="/add-note"><h2>Add a Note</h2></a>

        <a href="/edit-note"><h2>Edit a Note</h2></a>
        <a href="/saved-note"><h2>Saved Notes</h2></a>

    </main>
        
      

 

 
<!--Include footer-->

<%-include('include/_footer')%>

<!--/Include footer-->