<!--Include Header-->

<%-include('include/_header')%>

<!--/Include Header-->


   
    <!-- CONTENT -->
    <main>
        <div class="button-container">
            <a href="/add-note">
                <span class="material-icons">add</span>
                <h2>Add a Note</h2>
            </a>
    
            <a href="/edit-note">
                <span class="material-icons">edit</span>
                <h2>Edit a Note</h2>
            </a>
    
            <a href="/saved-note">
                <span class="material-icons">save</span>
                <h2>Saved Notes</h2>
            </a>
        </div>
    </main>
    
      

 

 
<!--Include footer-->

<%-include('include/_footer')%>

<!--/Include footer-->