

<!--Include Header-->

<%-include('include/_header')%>

<!--/Include Header-->


       <main>
       <!-- Additional content -->
       <section>
        <h2>Saved Notes</h2>
      
        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>
    </section>
        </main>

        <!--Include footer-->

<%-include('include/_footer')%>

<!--/Include footer-->